:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --description-color: #757575;
}

body {
  background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
}

h2,
h3 h4 {
  color: #212121;
}

/* цвет основного текста - #212121;
 цвет вторичный #757575;
 акцент - #2196F3; 
 цвет фон шапки #FFFFFF;
 цвет фона #E5E5E5; */

.header-page {
  background-color: var(--background-color);
}

/*Logo*/
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-accent {
  color: var(--accent-color);
}
.list {
  list-style: none;
}

/* Site-nav*/
.site-nav .link {
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/*Hero*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--background-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
}

/*Section*/
.section-title {
  color: var(--primary-text-color);
}

/*Features*/
.features .title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.features .description {
  color: var(--description-color);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
}

/*Work*/
.team .name {
  color: var(--primary-text-color);
}
.team .profession {
  color: var(--description-color);
}

/*Button*/
.button {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

/*Portfolio-page*/
